.DS_Store
node_modules
/target
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# IDE:
.vscode

# Nix
result
.direnv

# misc
docs-gpui-components
src-svelte
gpui-component